:root {
	--color-font: #efefef;
	--color-panel: #4a8a4a;
	--color-sub-panel: #175717;
	--color-border: #000;
}

* {
	font-family: silkscreen;
	position: relative;
	margin: 0px;
	padding: 0px;
	color: var(--color-font);
	z-index: 0;
}

a {
	text-decoration: none;
}

body {
	background-image: linear-gradient(0deg, #4f0000, #4f1f00, #4f4f00);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	box-sizing: border-box;
}

div.drawer {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	background-color: var(--color-panel);
	border-radius: 5px;
	margin: 6vh 2.5vw 0px 2.5vw;
	height: 3rem;
	min-height: 28px;
	justify-content: center;
}

div.drawer-content {
	background-color: var(--color-sub-panel);
	font-size: 0.95rem;
	margin: 0px 2.5vw 0px 2.5vw;
	border-radius: 5px;
	top: -1rem;
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
	z-index: -1;

}

div.top-menu-parts {
	box-sizing: border-box;
	width: 50vw;
}

p.panel-text {
	font-size: 1.25rem;
}

section.panel-align {
	text-align: center;
}

.cursor-hand {
	cursor: pointer;
}

div#top-menu {
	display: flex;
	background-color: var(--color-panel);
	height: 8.25vh;
	padding: 0.5rem;
	align-items: center;
}

div#top-menu-left {
	left: 0.5vw;
	font-size: 3rem;
	width: 50vw;
}

div#top-menu-right {
	left: -1.5vw;
	font-size: 1.875rem;
	width: 50vw;
	gap: 4.85vw;
	display: flex;
	justify-content: flex-end;
}

div#social-panel-background {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

div#social-panel-shape {
	font-size: 17.4vw;
	top: 12%;
	left: 10%;
	width: 80%;
	height: 76%;
}

div#social-panel-grid {
	border-radius: 10px;
	border: 2px solid var(--color-font);
	background-color: var(--color-panel);
	display: grid;
	grid-template-columns: repeat(2, 25%);
	place-items: center center;
	justify-content: center;
	align-content: center;
	height: 100%;
	gap: 20%;
}

img#perfil-icon {
	width: 42.5%;
	max-width: 350px;
	border-radius: 50%;
	border: 2.5px solid var(--color-font);
}

div#home-main-content {
	top: 7.5vh;
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 6vh;
}
