/* NOTES */
/* top right bottom left */

:root{
	/* specify elements */
	--color-all-font:#0f0f0f;
	/* Project Panel */
	--color-pp-bg:#aaa;
	--color-pp-link:#00c;
	/* Technolog level */
	--color-tl-low:#f00;
	--color-tl-middle:#ff0;
	--color-tl-high:#0f0;
}



/* ELEMENTS */

body{
	color: var(--color-all-font);
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	padding: 5vh 5vw 5vh 5vw;
	margin: 0px;
	box-sizing: border-box;
	min-width: 150px;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-image: linear-gradient(#d22, #dd2);
}



/* ABOUT DUCKAFIRE */

section#about-duckafire{
	padding: 2.5%;
	border-radius: 10px;
	border: 3px solid black;
	margin-bottom: 3.25vh;
	background-color: var(--color-pp-bg);
	padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

div#about-duckafire-main{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3.25vw;
	box-sizing: border-box;
}

img#about-duckafire-perfil{
	width: min(max(21vw, 100px), 150px);
	border-radius: 50%;
	border: 2.5px solid black;
}

div#about-duckafire-social{
	display: flex;
	justify-content: center;
	gap: 2vw;
	padding: 5px;
	font-size: 1.55rem;
}

div#about-duckafire-social a{
	color: black;
}

div#about-duckafire-texts h1{
	margin: 0px;
	margin-bottom: 0.3rem;
}

div#about-duckafire-texts p{
	margin: 0px;
	max-width: 300px;
}

h5#about-duckafire-more-button{
	margin: 0px;
	text-align: center;
	cursor: pointer;
}

div#about-duckafire-more span{
	display: flex;
	flex-wrap: wrap;
	gap: 2vw;
	justify-content: center;
}

div#about-duckafire-more span > img{
	width: min(max(8%, 35px), 50px);
}

img.tl-low, img.tl-middle, img.tl-high{
	border-radius: 15px;
	padding: 4px;
	border: 3px solid;
}

img.tl-low{    border-color: var(--color-tl-low); }
img.tl-middle{ border-color: var(--color-tl-middle); }
img.tl-high{   border-color: var(--color-tl-high); }

div#about-duckafire-tech-legend{
	display: flex;
	justify-content: space-between;
	padding: 0px 5vw 0px 5vw;
}

div#about-duckafire-tech-legend h5{
	margin: 0px;
	text-shadow: 1px 1px 1px #000;
}

h5#about-duckafire-tech-legendy-low{    color: var(--color-tl-low); }
h5#about-duckafire-tech-legendy-middle{ color: var(--color-tl-middle); }
h5#about-duckafire-tech-legendy-high{   color: var(--color-tl-high); }



/* PROJECTS */

div#projects-more-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	height: min(max(30vh, 100px), 6.4rem);
	background-color: #fff;
	background-color: var(--color-pp-bg);
	border-radius: 10px;
}

div#projects-more-icon div{
	display: flex;
	align-items: center;
	justify-content: center;
	width: max(8vh, 80px);
	height: max(8vh, 80px);
	background-color: #eee;
	border: 1.5px solid #000;
	border-radius: 50%;
}

div#projects-more-icon i{
	font-size: min(max(20%, 50px), 7.25rem);
}

.projects-panel-layout{
	display: flex;
	flex-direction: column;
	gap: 3.25vh;
	margin-bottom: 3.25vh;
}

div.project-box{
	display: flex;
	flex-direction: column;
	gap: 2.5vw;
	background-color: var(--color-pp-bg);
	border-radius: 10px;
	padding: 0.5vh 1.25vw 3.5vh 1.25vw;
	align-items: center;
	text-align: center;
	gap: 0px;
	border: 3px solid black;
}

div.project-box img{
	width: min(max(40%, 100px), 15rem);
	height: min(max(40%, 100px), 15rem);
	margin: 1.75vh 1.75vw -0.3rem 1.75vw;
}

div.project-box div > p{
	max-width: 600px;
}

div.project-link{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

div.project-link a{
	color: var(--color-pp-link);
	text-decoration: none;
	font-size: 0.95rem;
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
}

div#project-used-languages{
	padding: 5px 5px 0px 0px;
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	width: 88vw;
}

div#project-used-languages div{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

div#project-used-languages i{
	font-size: 2rem;
}
