/* top left bottom right */
body{
	background-color: #777;
	width: 100vw;
	height: 100vh;
	padding: 5vh 5vw 5vh 5vw;
	margin: 0px;
	box-sizing: border-box;
}

.default-body{
	margin: 2.5vh 0px 5vh 0px;
	box-sizing: border-box;
}

section#programming-highlight{
	display: flex;
	flex-direction: row;
	gap: 2.31vw;
	width: 70%;
}

span#profile-icon-and-languages{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5vw;
}

img.programming-icon{
	width: 17.5%;
	height: 17.5%;
}
img#profile-icon{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	border: 1px solid #000;
}
section#profile-info{
	background-color: #999;
	border-radius: 10px;
	padding: 2vh 2vw 2vh 2vw;
}

section#main-projects{
	display: flex;
	flex-direction: column;
	gap: 3.25vh;
}

div.project-box{
	display: flex;
	flex-direction: column;
	gap: 2.5vw;
	background-color: #999;
	border-radius: 10px;
	padding: 0.5vh 1.25vw 3.5vh 1.25vw;
	align-items: center;
	text-align: center;
	gap: 0px;
}

div.project-box img{
	width: max(50%, 200px);
	height: max(50%, 200px);
	margin: 1.75vh 1.75vw -0.3rem 1.75vw;
}

div.project-link{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

div.project-link a{
	color: #00c;
	text-decoration: none;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
}
