.head{
	position: absolute;
	text-shadow:
		-2px -2px 0 #4e05b5, /* left-top */
		 2px -2px 0 #4e05b5, /* right-top */
		-2px  2px 0 #4e05b5, /* left-below */
		 2px  2px 0 #4e05b5; /* right-below */
}

.paragraph{
	margin-top: 0px;
	word-wrap: break-word;
	display: inline-block;
	position: absolute;
	font-size: 16px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #4e05b5, /* left-top */
		 1px -1px 0 #4e05b5, /* right-top */
		-1px  1px 0 #4e05b5, /* left-below */
		 1px  1px 0 #4e05b5; /* right-below */
}
