@font-face{
	font-family: forward;
	src: url("https://duckafire.github.io/nest/font/fff-forward.TTF") format("truetype");
}

body{
	font-family: forward;
	color: #ffffff;
	background-color: #8f8f8f;
	-webkit-font-smoothing: antialiased;
}

