#title{
	position: absolute;
	top: -10px;
	left: 33%;
	text-align: center;
	color: #ff4400;
}

#welcome{
	top: 25%;
	left: 5%;
	width: 90%;
	height: 60px;
}

#about{
	top: 50%;
	left: 26.25%;
	width: 45%;
	height: 35%;
	font-size: 13px;
}
