@media (prefers-color-scheme: dark){
	body{
		color: #000;
		background-color: #111111;
	}
	
	#title{
		color: #db0000;
	}
	
	.head{
		text-shadow:
			-2px -2px 0 #ffcc00, /* left-top */
			 2px -2px 0 #ffcc00, /* right-top */
			-2px  2px 0 #ffcc00, /* left-below */
			 2px  2px 0 #ffcc00; /* right-below */
	}

	.paragraph{
		text-shadow:
			-1px -1px 0 #ffcc00, /* left-top */
			 1px -1px 0 #ffcc00, /* right-top */
			-1px  1px 0 #ffcc00, /* left-below */
			 1px  1px 0 #ffcc00; /* right-below */
	}
}