div.dimensions {
	left: 5%;
	width: 90%;
	position: relative;
	border-radius: 10px;
	word-wrap: break-word;
	overflow: hidden;
	background-color: #000;
}

p.all {
	position: relative;
}

h3.h3All {
	top: -0.3rem;
	position: relative;
	font-size: 1.9rem;
}

img.social {
	top: 0.4em;
	width: 5rem;
	position: relative;
	background-color: #AE0000;
	border-radius: 50%;
	padding: 0.5rem;
}
