#dMain {
	height: 12.15rem;
}

#dNews {
	top: 0.2em;
}

#dProj {
	top: 0.4em;
}

#dLink {
	top: 0.6em;
	height: 105px;
	background: none;
}

#tMain {
	position: relative;
	font-size: 3rem;
}

#pNoti {
	top: -1rem;
}

#pMain { top: -3.5rem; }
#pProj{ top: -1rem; }

#iTic80 {    left: -1.58em; }
#iGithub {   left: -0.58em; }
#iFacebook { left:  0.5em; }
#iItchio {   left:  1.5em; }
