div#main { height: 12.15rem; }

div#news { top: 0.2em; }

div#proj { top: 0.4em; }

div#link {
	top: 0.6em;
	height: 105px;
	background: none;
}

h1#welcome {
	position: relative;
	font-size: 3rem;
}

p#newsList { top: -1rem; }

p#welcomeMsg { top: -3.5rem; }
p#projList{ top: -1rem; }

img#tic80 {    left: -1.58em; }
img#github {   left: -0.58em; }
img#facebook { left:  0.5em; }
img#itchio {   left:  1.5em; }
