body {
	min-width: 650px;
	text-align: center;
	position: relative;
	font-size: 1.2rem;
	margin: 0;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #dddddd;
	background-color: #444444;
	background-image: linear-gradient(45deg, #5f0000, #5f2f00, #5f5f00)
}

a:link    {color: #EB0000;} /* unvisited */
a:visited {color: #FFFF00;} /* visited */
a:hover   {color: #FF5500;} /* cursor over link */
a:active  {color: #FF0099;} /* clicked */
