body {
	position: relative;
	color: #dddddd;
	background-color: #444444;
	font-size: 18px;
	margin: 8%;
}

#welc_div {
	height: 200px;
	background-color: #000;
	border-radius: 10px;
}

#info_div {
	position: relative;
	top: 5px;
	height: 460px;
	background-color: #000;
}

.dimensions {
	position: relative;
	width: 40%;
	min-width: 500px;
	max-width: 700px;
	border-radius: 10px;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
}

.text_y {
	position: relative;
	top: -8px;
}

a:link    {color: #EB0000;} /* unvisited */
a:visited {color: #FFFF00;} /* visited */
a:hover   {color: #FF5500;} /* cursor over link */
a:active  {color: #FF0099;} /* clicked */
